<h1>Lista de Artigos</h1>

<%= link_to 'Página Inicial', controller: 'welcome' %> |
<%= link_to 'Novo Artigo', new_article_path %>
<br/><hr/>

<% @articles.each do |article| %>
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p><%= article.text %></p>

      <%= link_to 'Acessar', article_path(article) %> |
      <%= link_to 'Editar', edit_article_path(article) %> |
      <%= link_to 'Remover', article_path(article), method: :delete, data: { confirm: 'Você tem certeza que deseja remover?' } %>
      <br/><hr/>

<% end %>
